#main{
  width: 70%;
  height: 100%;
  border-right: solid 2px grey;
}

#aside{
  width: 30%;
  margin-top: 20px;
}

.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-around{
  justify-content: space-around;
}

.flex-y-center{
  align-items: center;
}

.flex-x-center{
  justify-content: center;
}

#search{
  margin: 40px auto;
  text-align: center;
}

#searchInput{
  width: 50%;
}

#logo{
  margin-left: 25px;
}

#book{
  margin: 20px 0 20px 40px;
}

.add-btn{
  height: 50%;
}

#checkout-btn{
  width: 60%;
  margin: 0 auto;
}

.hr{
  width: 75%;
}
